*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;

    font-family: 'Red Hat Display';
    font-size: 22px;
    
    background: linear-gradient(to top, #dcdcdc, #ffffff);

}

main{
    margin: 60px auto;
    width: 430px;
    height: 670px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px 10px rgba(128, 128, 128, 0.37);
}

main .section-img-hero .img-hero{
    width: 430px;
    border-radius: 20px 20px 0px 0px;
}

main .section-description{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main .section-description .div-description-des{
    width: 100%;
    text-align: center;
}

.section-description .div-description-des .description-title{
    margin-top: 25px;
    color: #1B2A4B;
    font-size: 1.2em;
    font-weight: 900;
}

.section-description .div-description-des .description-paragraphy{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    color: #808599;
    font-size: 18px;
  
}

.section-description .div-description-links{
    margin-top: 25px;
    padding: 20px;

    width: 80%;
    height: auto;
    background-color: #f0f0f074;

    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-description .div-description-links p{
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.section-description .div-description-links .description-name-plan{
    color: #1B2A4B;
    font-weight: 700;
    margin-right: 75px;
}

.section-description .div-description-links .description-name-dolar{
    color: #808599;
    margin-right: 75px;
}

.section-description .div-description-links div a{
    font-size: 18px;
    font-weight: 600;
    text-align: right;
}

main .section-btn{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main .section-btn .btn-success{
    width: 350px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    color: white;
    background-color: #382ADF;
    margin-bottom: 25px;
    cursor: pointer;
    transition: 0.5 ease-in-out;
    box-shadow: 0px 2px 10px grey;
}

main .section-btn .btn-cancel{
    width: 300px;
    height: 20px;
    border: none;
    background-color: white;
    color: #1D254B;
    font-weight: 900;
    cursor: pointer;
    transition: 0.5 ease-in-out;
}

main .section-btn .btn-success:hover{
    background-color: #382ADF;
    opacity: 0.8;
 
}

main .section-btn .btn-cancel:hover{
    color: #141934;

}

.section-description .div-description-links div a:hover{
    opacity: 0.7;

}